<h1><%= @patient.first_name + ' ' + @patient.last_name %></h1>
<%= link_to "Edit Patient Info", edit_patient_path %>
<br/>
<%= link_to "Delete Patient", @patient, method: :delete %>

<h3>Appointments</h3>
<ul>
  <li>
  <% @patient.appointments.each do |appt| %>
    <%= appt.date + ' with Dr. ' + appt.doctor.name %>
  </li>
  <% end %>
</ul>
